.git
.env
.netrc
.vscode
.dockerignore
.gitignore
docker-compose.yml
Dockerfile

## Common Github Files
AUTHORS.md
CONTRIBUTING.md
LICENSE
Makefile
NOTICE
README.md

# Artifacts that will be built during image creation.
# This should contain all files created during `npm run build`.
build
node_modules
